.chart-head{
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.chart-time{
    font-size: 34px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(68, 0, 225);
}

.chart-contain{
    margin-top: 3em;
    display: flex;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    padding: 0 20px 0 50px;
}

.verify{
    margin-top: 3em;
    padding: 2em 0;
    border-radius: 50px;
    background-color: white;
}

.audio-ques{
    height: auto;
    min-width: 50vw;
    padding: 2em 1em;
    border-radius: 50px;
    background-color: white;
}